# Data Structures and Sequences

## Tuples

In [40]:
# create a simple tuple
tup = 3, 4, 5
tup

(3, 4, 5)

In [41]:
# create a nested tuple
nested_tup = (1, 2, 3), (4, 5)
nested_tup

((1, 2, 3), (4, 5))

In [42]:
# create a tuple from a list
tuple([4, 0, 2])

(4, 0, 2)

In [43]:
# conversion also works based on strings (they can be interpreted as lists of characters)
tup = tuple("string")
tup

('s', 't', 'r', 'i', 'n', 'g')

In [44]:
# elements can be accessed via [i] where indices start at 0
tup = tuple("string")
tup[0]

's'

In [45]:
# a tuple is mutable even though the stored objects are not necessarily
# note that `tup[1].append(300)` would work as it's an operation on the opject that tup[1] references
tup = tuple(["foo", [23, 42], True])
tup[1] = [23, 42, 300]
tup

TypeError: 'tuple' object does not support item assignment

In [46]:
# you can concatenate tuples
tup1 = (1, True, "hello")
tup2 = ([23, 42], 6.7)
tup = tup1 + tup2
tup

(1, True, 'hello', [23, 42], 6.7)

In [47]:
# multyplying a tuple with number replicates its contents
tup = ("hello", "world") * 4
tup

('hello', 'world', 'hello', 'world', 'hello', 'world', 'hello', 'world')

In [48]:
# assigning tuple-like variables will unpack the tuple
tup = 1, 2, 3
a, b, c = tup
b

2

In [49]:
# unpacking even works for nested tuples
tup = 1, 2, (3, 4), 5
a, b, (c, d), e = tup
d

4

In [50]:
# unpacking can be used to swap variables
a,b = 1, 2
print(a, b)
a, b = b, a
print(a, b)

1 2
2 1

In [51]:
# unpacking can be useful for iterating over sequences of tuples or lists
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f"a={a}, b={b}, c={c}")

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [52]:
# if only some initial values are of interes then we can use the `*<rest>` syntax to skip what is not needed
tup = (1, 2, 3, 4, 5)
a, b, *_ = tup
c, d, *rest = tup
print(a, b)
print(c, d ,rest)

1 2
1 2 [3, 4, 5]

In [53]:
# tuples can count the occurrences of a value inside the tuple
tup = (1, 2, 1, 3, 2, 1, 4, 3, 2, 5, 2, 1)
tup.count(2)

4

## Lists
In contrast to tuples, lists are variable-length and can be modified in-place.

In [54]:
a_list = [2, 3, 7, None]
tup = (1, 2)
b_list = list(tup)
print(b_list)

b_list[1] = "hello"
print(b_list[1])

[1, 2]
hello

In [55]:
# the list() function is commonly used to materialize an iterator or a generator
gen = range(10)
print(gen)

print(list(gen))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
# append() adds an element to the end of the list
a_list = [1, 2, 3]
a_list.append("hello")
a_list

[1, 2, 3, 'hello']

In [57]:
# insert() is used to add a value in a specific index
a_list = [1, 2, 3]
a_list.insert(1, "world")
a_list

[1, 'world', 2, 3]

In [58]:
# the function pop() removes the last element and returns it
a_list = ["brave", "new", "world"]
last_item = a_list.pop()
print(last_item, a_list)

world ['brave', 'new']

In [59]:
# use remove() to remove the first item that equals the given value
a_list = ["red", "dwarf", "in", "deep", "red", "space"]
a_list.remove("red")
a_list

['dwarf', 'in', 'deep', 'red', 'space']

In [60]:
# you can easily check if a certain value is present in the list or not
a_list = ["red", "dwarf", "in", "deep", "red", "space"]
print("dwarf" in a_list)
print("blue" not in a_list)

True
True

In [61]:
# two lists can be concatenated into a new one
a_list = [1, 2, 3] + ["hello", "world"]
a_list

[1, 2, 3, 'hello', 'world']

In [63]:
# an existing list can be extended, which is a more performant operation than concatenation
a_list = [1, 2, 3]
b_list = ["hello", "world"]
a_list.extend(b_list)
a_list

[1, 2, 3, 'hello', 'world']

In [64]:
# lists can use sort() for in-place sorting
a_list = [7, 4, 5, 3, 2, 1, 9]
a_list.sort()
a_list

[1, 2, 3, 4, 5, 7, 9]

In [66]:
# the sort() function has a parameter `key` which can use a function for custom sorting
a_list = ["saw", "small", "he", "foxes", "six"]
a_list.sort(key=len)
a_list

['he', 'saw', 'six', 'small', 'foxes']

In [68]:
# given we have a sorted list then we can use the bisect tools for checking where a new element would
# have to be inserted in order to keep the list sorted
# bisect.bisect finds the location and bisect.insort actually inserts it
# note that bisect will succeed, even if the list is NOT sorted
import bisect

a_list = [1, 2, 2, 3, 3, 3, 3, 4, 7]
print(bisect.bisect(a_list, 6))

bisect.insort(a_list, 5)
a_list

8

[1, 2, 2, 3, 3, 3, 3, 4, 5, 7]